*{transition: 1s;}
.big_number{
    height: 10px;
    width: 10px;
    color: pink;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;}
body{
    background-color:#fbf7fb;}
.box{
    width: 1200px;
    margin: 50px auto;}
.shapka{
    height: 450px;
    width: 100%;
    background-color: rgb(68, 82, 110);}
.logo{
    height: 100px;
    width: 100px;
    margin-left: 25px;}
    .logo:hover{
    transform: rotate(360deg);
    transition: 3s;}
.logo2{
    height: 50px;
    width: 300px;
    margin-right: 25px;
    background-color: blue;
    float: right;}
.logo3{
    height: 18px;
    margin-top: 20px;
    margin-right: 30px;
    float: right;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
    color: white;}
    .logo3:hover{
    color: #ff5200;
    transition: 0.5s;}
.content{
    width: 100%;
    padding-top: 55px;}
.photo{
    height: 450px;
    width: 595px;
    background-color: coral;
    float: right;}
.text{
    height: 450px;
    width: 605px;
    background-color:#fbf7fb;
    float: left;}
.footer{
    height: 100px;
    width: 100%;
    background-color: rgb(36, 11, 70);
    margin-top: 20px;}
.f{
    height: 100px;
    width: 100px;
    position: relative;
    float: right;
    background-color: rgb(222, 230, 4);
    margin-right: 150px;}
.buton{
    background-color: rgba(0, 0, 0, 0.308);
    float: right;
    height: 450px;
    width: 595px;}
.log1 {
    margin-top: 15px;
    margin-bottom: 50px;
    height: 70px;}
.ph1{
    height: 760px;
    width: 285px;
    margin-left: 10px;
    background-color: rgb(93, 68, 158);
    float: left;
    margin-top: 10px;}
.ph2{
    height: 760px;
    width: 285px;   
    background-image: url("img/zal2.png");
    float: right;
    margin-top: 10px;
    margin-right: 10px;}
.t1{
    height: 280px;
    width: 280px;
    background-color: rgb(72, 11, 90);
    float: left;
    margin-top: 50px;
    margin-left: 10px;}
.t2{
    height: 280px;
    width: 280px;
    background-color: rgb(35, 96, 88);
    float: right;
    margin-top: 50px;
    margin-right: 10px;}
.t3{
    height: 280px;
    width: 280px;
    background-color: rgb(159, 72, 72);
    float: left;
    margin-top: 120px;
    margin-left: 10px;}
.t4{
    height: 280px;
    width: 280px;
    background-color: rgb(96, 13, 42);
    float: right;
    margin-top: 120px;
    margin-right: 10px;}
.box_image{
    height: 450px;
    width: 100%;}
.box_text{
    height: 140px;
    width: 575px;
    margin-left: 10px;}
.zagolovok{
    color: rgb(0, 0, 0);
    margin-bottom: 80px;}
.zagolovok1{
    height: 130px;
    background-image: url("img/zagolovok1.png");
    padding-top: 10px;}
    .text_next{
    color: white;
    font-size: 20px;
    text-align: justify;
    width: 430px;
    height: 130px;
    margin-left: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;}
.img_logo{
    max-width: 100%;
    transition: 2s;}
    .img_logo:hover{
    max-width: 100%;
    transform: rotate(360deg);
    transform: scale(1.2);
    transition: 3s;}
.fon_img{
    height: 450px;
    width: 595px;
    float: right;
    background-image: url("img/1-scaled.jpg");}
    .fon_img:hover{
    height: 450px;
    width: 595px;
    float: right;
    background-image: url("img/1-scaled.jpg");
    opacity: 0.7;}
.fon_img1{
    height: 450px;
    width: 595px;
    float: right;
    background-image: url("img/contact.jpg");}
    .fon_img1:hover{
    height: 450px;
    width: 595px;
    float: right;
    opacity: 0.7;}
.fon_img2{
    height: 450px;
    width: 595px;
    float: right;
    background-image: url("img/vacansion.jpg");}
    .fon_img2:hover{
    height: 450px;
    width: 595px;
    float: right;
    opacity: 0.7;}
.fon_img3{
    height: 450px;
    width: 595px;
    float: right;
    background-image: url("img/zal_time.jpg")}
    .fon_img3:hover{
    height: 450px;
    width: 595px;
    float: right;
    opacity: 0.7;}
.fon_img4{
    height: 450px;
    width: 595px;
    float: right;
    background-image: url("img/zal_time.jpg")}
    .fon_img4:hover{
    height: 450px;
    width: 595px;
    float: right;
    opacity: 0.7;}
.fon_img5{
    height: 450px;
    width: 595px;
    float: right;
    background-image: url("img/zal_time.jpg")}
    .fon_img5:hover{
    height: 450px;
    width: 595px;
    float: right;
    opacity: 0.7;}
h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(0, 0, 0);
    text-align: center;}
p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(255, 255, 255);
    font-size: 20px;
    text-align: justify;}
.c1{
    height: 50px;
    width: 100%;}
.c2{
    height: 400px;
    width: 100%;}
.news{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    float: left;}
.newss{
    float: right;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;}
.news1{
    height: 200px;
    width: 330px;
    background-color: black;
    margin-top: 100px;
    float: left;
    margin-left: 55px;
    border-radius: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    color: white;}
.news2{
    height: 200px;
    width: 330px;
    background-color: black;
    margin-top: 100px;
    float: right;
    margin-right: 50px;
    border-radius: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    color: white;
    text-align: justify;}
.news3{
    height: 200px;
    width: 330px;
    background-color: black;
    margin-top: 100px;
    float: right;
    margin-right: 50px;
    border-radius: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    color: white;
    text-align: justify;}
.functional{
    height: 100px;
    width: 1200px;}
.fun_text{
    height: 100px;
    width: 500px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;}
.functional1{
    height: 100px;
    width: 1200px;}
.fun_1{
    height: 150px;
    width: 200px;
    background-color: rgb(65, 57, 57);
    float: left;
    margin-right: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    color: rgb(220, 215, 215);
    text-align:center;}
.fun_2{
    height: 150px;
    width: 200px;
    background-color: rgb(65, 57, 57);
    float: right;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    color: rgb(220, 215, 215);
    text-align:center;}
.pro_club{
    width: 100%;
    height: 600px;
    margin-top: 200px;}
.pro_photo{
    width: 39.7%;
    height: 600px;
    background-color: black;
    float: left;}
.pro_text{
    width: 60%;
    height: 600px;
    float: right;
    background-color:#fbf7fb;
    margin-left: 3px;}
.pro_text1{
    height: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
    width: 90%;
    margin-left: 20px;}
.pro_text2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color:rgb(68, 68, 68);
    width: 90%;
    margin-left: 20px;
    text-align: justify;}
.pro_text3{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    margin-top: 25px;
    margin-left: 20px;
    background-color: #945271;
    width: 200px;
    height: 40px;
    color: #ffffff;
    text-align:center;
    padding-top: 15px;}
.pro_text3:hover{
    color: #ff5200;
    border-radius: 10px;
    background-color: #94527188;
    box-shadow: 0 0 20px 10px rgba(224, 64, 230, 0.705), 0 0 40px 20px rgba(78, 230, 64, 0.555);}
.choose{
    width: 100%;
    height: 350px;
    margin-top: 50px;}
.choose_text01{
    height: 100px;
    width: 500px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;}
.choose_photo{
    height: 250px;
    width: 200px;
    background-color: black;
    float: left;
    margin-right: 50px;}
.choose_photo1{
    height: 250px;
    width: 200px;
    background-color: black;
    float: right;}
.choose_text02{
    height: 100px;}
.color_h{
    color: palevioletred;}
.text_prozorist{
    color: rgb(70, 70, 70);}